{% extends 'app.html' %}
{% load static %}
{% block title %}
<title>Aims & Objectives | Africa of Our Dreams Initiative</title>
{% endblock title %}

{% block banner %}
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url({% static 'assets/img/new_breadcrumb.jpg' %});">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">Aims and Objectives</h1>
                
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </section>
    <!--====== Breadcrumb part End ======-->
{% endblock banner %}

{% block content %}
 <!--====== Service Details Start ======-->
    <section class="service-details section-gap">
        <div class="container">
            <div class="row">
                <!-- Dettails Content -->
                <div class="col-lg-12">
                    <div class="service-details-content">
                        <div class="main-thumb mb-40">
                            <img src="{% static 'assets/img/details/service-01.jpg' %}" alt="image">
                        </div>
                        <h2 class="title">AODI Aims & Objectives</h2>
                        <p>
                            Building a new Africa would mean creating a society where individuals will be able to thrive and at least have access to the basic things of life. The goals of AODI is based on the premise that if we invest in health, education and opportunities as well as in the human capital, invariably we lay the foundation for sustained prosperity. To this end, the aims and objectives of AODI is summarily
                        </p>
                        <blockquote>
                        	“Youth and women empowerment through education and capacity building.”
The foundation shall pursue this objective in four different ways as listed below bearing in mind the great quote by Joseph Addison.
                        </blockquote>



<blockquote>Education is a companion which no misfortune can depress, no crime can destroy, no enemy can alienate, no despotism can enslave. At home, a friend, abroad, an introduction, in solitude a solace and in society an ornament. It chastens vice, it guides virtue, it gives at once grace and government to genius. Without it, what is man? A splendid slave, a reasoning savage. -Joseph Addison</blockquote>

 









                        </p>
                        <ul class="circle-check-list mt-50 mb-50">
                            <li>
                                <i class="fas fa-check"></i>
                               Women empowerment:
The foundation shall run activities to empower the girl child and women in general while campaigning against gender-based violence and promoting gender balance, education for the girl child, equal opportunity for girls with their male counterparts.
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Youth empowerment:
The foundation shall run activities that aim to empower less privileged youths in the society. The action plan will include but not limited to skill workshops, training on skills related to information communication technology (ICT), entrepreneurial activities etc., all aimed at human capacity development.
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Access to quality education:
The foundation shall run activities that encourage children and adults to acquire sound education. Where possible, education materials, infrastructures, equipment, scholarships information, and engagements that would guarantee quality education for all will be carried out. Emphasis will be on Science Technology Engineering and Mathematics (STEM) education.
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Access to quality Medicare:
The foundation shall run activities that would help the less privileged access quality healthcare. Where possible, medicine and medical equipment can be provided among other things to ensure that people have access to quality health care irrespective of their status. Priority will be given to terminal as well as communicable diseases.
                            </li>
                        </ul>
                        <p>In the pursuit of our causes, AODI will always remember other great quotes relating to education by great men like kofi Annan, Nelson Mandela and Malcom X.</p>
                        <blockquote>Knowledge is power. Information is liberating. Education is the premise of progress, in every society, in every family.

 -kofi Annan</blockquote>
 <blockquote>Education is the most powerful weapon which you can use to change the world.

 -Nelson Mandela</blockquote>
 <blockquote>Education is the passport to the future, for tomorrow belongs to those who prepare for it today.

 -Malcolm X</blockquote>
                    </div>
                    
                        <!-- End Faq LOOP -->
                    </div>
                </div>
                <!-- Sidebar -->
                
            </div>
        </div>
    </section>
    <!--====== Service Details End ======-->

    <!--====== CTA Start ======-->
    <section class="cta-aection">
        <div class="container">
            <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <div class="section-title both-border mb-30">
                                <span class="title-tag">Get Involved</span>
                                <h2 class="title">Donate to our noble cause</h2>
                            </div>
                            <a href="donate" class="main-btn main-btn-3">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CTA Start ======-->

    <!--====== Client Area Start ======-->
    <section class="client-section">
        <div class="container">
            <div class="client-slider section-gap line-top">
                <div class="row align-items-center justify-content-between" id="clientSlider">
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
{% endblock content %}