{% extends 'app.html' %}
{% load static %}
{% block title %}
<title>Founding Trustees | Africa of Our Dreams Initiative</title>
{% endblock title %}

{% block banner %}
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url({% static 'assets/img/breadcrumb.jpg' %});">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">Founding Trustees</h1>
                
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </section>
    <!--====== Breadcrumb part End ======-->
{% endblock banner %}

{% block content %}
<!--====== Team Section Start ======-->
    <section class="team-section section-gap">
        <div class="container">
            <!-- Section Title -->
            <div class="section-title mb-40 both-border text-center">
                <span class="title-tag">Trustees</span>
                <h2 class="title">AODI <br> Founding Trustees</h2>
            </div>

            <!-- Team Boxes -->
            <div class="row team-members justify-content-center">
                <div class="col-lg-3 col-md-4 col-6 col-tiny-12">
                    <div class="team-member">
                        <div class="member-picture-wrap">
                            <div class="member-picture">
                                <img src="{% static 'images/0chuks-1.jpg' %}" alt="TeamMember">
                                <div class="social-icons">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="member-desc">
                            <h3 class="name"><a href="#">David Chukwuma Izuogu</a></h3>
                            <span class="pro">Founder/Chairman</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-tiny-12">
                    <div class="team-member">
                        <div class="member-picture-wrap">
                            <div class="member-picture">
                                <img src="{% static 'images/Ileka-Chikaosolu.jpg' %}" alt="TeamMember">
                                <div class="social-icons">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="member-desc">
                            <h3 class="name"><a href="#">Maryqueen Chikaosolu Ileka</a></h3>
                            <span class="pro">Co-founding Trustee</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-tiny-12">
                    <div class="team-member">
                        <div class="member-picture-wrap">
                            <div class="member-picture">
                                <img src="{% static 'images/Okpala-Joy.jpg' %}" alt="TeamMember">
                                <div class="social-icons">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="member-desc">
                            <h3 class="name"><a href="#">Joy Chinazaepkere Okpala</a></h3>
                            <span class="pro">Co-Founding Trustee</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-tiny-12">
                    <div class="team-member">
                        <div class="member-picture-wrap">
                            <div class="member-picture">
                                <img src="{% static 'images/Ogbuebulu-Ebuka1.jpg' %}" alt="TeamMember">
                                <div class="social-icons">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="member-desc">
                            <h3 class="name"><a href="#">Joseph Chukwuebuka Oguegbulu</a></h3>
                            <span class="pro">Co-founding Trustee</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-tiny-12">
                    <div class="team-member">
                        <div class="member-picture-wrap">
                            <div class="member-picture">
                                <img src="{% static 'images/Emeka-Okpara.jpg' %}" alt="TeamMember">
                                <div class="social-icons">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="member-desc">
                            <h3 class="name"><a href="#">Innocent Emeka Okpara</a></h3>
                            <span class="pro">Co-founding Trustee</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-tiny-12">
                    <div class="team-member">
                        <div class="member-picture-wrap">
                            <div class="member-picture">
                                <img src="{% static 'images/AODI-logo1.jpg' %}" alt="TeamMember">
                                <div class="social-icons">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="member-desc">
                            <h3 class="name"><a href="#">Donald Chidozie Ojobor</a></h3>
                            <span class="pro">Co-founding Trustee</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-tiny-12">
                    <div class="team-member">
                        <div class="member-picture-wrap">
                            <div class="member-picture">
                                <img src="{% static 'images/AODI-logo1.jpg' %}" alt="TeamMember">
                                <div class="social-icons">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="member-desc">
                            <h3 class="name"><a href="#">Innocent Chinedu Nwoye</a></h3>
                            <span class="pro">Co-founding Trustee</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--====== Team Section End ======-->

    <!--====== Video Start ======-->
    <section class="video-section bg-img-c section-gap" style="background-image: url({% static 'assets/img/video-bg/video-1.jpg' %});">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-8 col-md-10 order-2 order-md-1">
                    <div class="video-text">
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">AODI on Camera</span>
                            <h2 class="title">
                                The founder of AODI, David Izuogu <br> visits Covenant University from Cambridge
                            </h2>
                        </div>
                        <p>
                            Watch David explain to the Vice-Chancellor, Registrar, Deans of Schools and other principal officers of Covenant University why he is at the forefront of advancing research partnership and bringing opportunities to Africa institutions in a bid to build capacity from within Africa and train scholars who will serve as the catalyst of change for national development.
                        </p>
                        <a href="#" class="main-btn">Watch Videos!</a>
                    </div>
                </div>
                <div class="col-lg-3 col-lg-4 col-md-2 order-1 order-md-2">
                    <div class="video-btn text-md-center">
                        <a href="#" class="play-btn popup-video">
                            <img src="{% static 'assets/img/icons/play.svg' %}" alt="">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-shape">
            <img src="{% static 'assets/img/lines/08.png' %}" alt="Line">
        </div>
    </section>
    <!--====== Video end ======-->

    <!--====== Skill Section Start ======-->
    <section class="skill-section section-gap-top">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <!-- Skill Text Block -->
                    <div class="skill-text">
                        <div class="section-title mb-40 left-border">
                            <span class="title-tag">Projects</span>
                            <h2 class="title">Ongoing Education  <br> Projects</h2>
                        </div>
                        <p>
                            Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium doloremque
                            laudantium, totam raperiaeaque ipsa quae ab illo inventore veritatis et quasi
                        </p>
                        <p>
                            But I must explain to you how all this mistaken idenouncing pleasure and praising pain was
                            born and I will give completey account of the system, and expound the actual teachings of
                            the great explorer of the truth, the master-builder of human happiness one rejects,
                            dislikes, or avoid
                        </p>

                        <a href="#" class="main-btn">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="piechart-boxes">
                        <div class="chart-box">
                            <div class="chart" data-percent="25">
                                <i class="flaticon-presentation"></i>
                            </div>
                            <h4 class="title">Code Your Way Out of Poverty</h4>
                        </div>
                        <div class="chart-box">
                            <div class="chart" data-percent="40">
                                <i class="flaticon-money-bags"></i>
                            </div>
                            <h4 class="title">National Science Festival</h4>
                        </div>
                        <div class="chart-box">
                            <div class="chart" data-percent="75">
                                <i class="flaticon-invest"></i>
                            </div>
                            <h4 class="title">Send The Child to Equipped School</h4>
                        </div>
                        <div class="chart-box">
                            <div class="chart" data-percent="80">
                                <i class="flaticon-connector"></i>
                            </div>
                            <h4 class="title">The Partner Africa Project</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Skill Section End ======-->

    <!--====== Client Area Start ======-->
    
    <!--====== Client Area End ======-->
{% endblock content %}