{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Forgot Password | Africa of Our Dreams Initiative</title>
{% endblock title %}

{% block navbar %}

<!-- Main Site Navigation -->
{% include 'personal/snippets/navbar-snippet.html' %}

{% endblock navbar %}

{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Successfull!</h1>
        <p class="lead text-muted">We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.</p>
        <p>
        <p class="lead text-muted">If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.</p>
          <a href="{% url 'home' %}" class="btn btn-success my-2">Return to Home</a>
        </p>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}
<!-- Footer Navigation -->
{% include 'personal/snippets/footer-snippet.html' %}
{% endblock footer %}