{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Change Password | Africa of Our Dreams Initiative</title>
{% endblock title %}

{% block navbar %}

<!-- Main Site Navigation -->
{% include 'personal/snippets/navbar-snippet.html' %}

{% endblock navbar %}

{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Successfull!</h1>
        <p class="lead text-muted">Your password has been Updated.</p>
        <p>
          <a href="{% url 'account' %}" class="btn btn-success my-2">My Profile</a>
        </p>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}
<!-- Footer Navigation -->
{% include 'personal/snippets/footer-snippet.html' %}
{% endblock footer %}